Source: android-studio-package
Priority: optional
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Build-Depends: debhelper (>= 9), bash-completion
Section: shells
Standards-Version: 3.9.8
Homepage: https://www.pm-codeworks.de/android-studio-package.html
Vcs-Git: https://github.com/philippmeisberger/android-studio-package.git
Vcs-Browser: https://github.com/philippmeisberger/android-studio-package

Package: android-studio-package
Architecture: all
Depends: ${misc:Depends}, fakeroot, make, devscripts
Description: Utility for creating Android Studio Debian packages
 This package provides the capability to build a Debian package from
 an Android Studio binary distribution by running make-aspkg <Android Studio
 archive file>.
 .
 Download the archive file from
 https://developer.android.com/studio/index.html#linux-bundle
