[Desktop Entry]
Type=Application
Name=Android Studio
Comment=Offical Android IDE
Exec=android-studio
Icon=android-studio
Categories=Application;IDE;Development;GTK;GUIDesigner;
Terminal=false
