Source: android-studio
Priority: extra
Maintainer: MAINTAINER_NAME <MAINTAINER_MAIL>
Build-Depends: debhelper (>= 9)
Section: devel
Standards-Version: 3.9.8
Homepage: https://developer.android.com/studio/index.html

Package: android-studio
Architecture: amd64 i386
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, java8-sdk | java8-runtime | java-runtime | default-jre, lib32ncurses5 | libncurses5:i386, lib32gcc1 | libgcc1:i386, lib32stdc++6 | libstdc++6:i386, lib32z1 | zlib1g:i386
Description: The Official IDE for Android
 Android Studio provides the fastest tools for building apps on every type of
 Android device.
 .
 World-class code editing, debugging, performance tooling, a flexible build
 system, and an instant build/deploy system all allow you to focus on building
 unique and high quality apps.
